# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Secrets (IMPORTANT)
k8s/secret.yaml
.env
*.key
*.pem

# Docker
.dockerignore
